#transparent-jumbo {
	background: rgba(238,238,238,.8);
}

#collab-titles {
	padding: 100px;
}

#collab-title {
	font-size: 400%
}

#collab-subtitle {
	font-size: 300%;
}

#club-logo {
	width: 100%;
	height: 100%;
}

#thanks-text {
	width: 100%;
	height: auto;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.orange-gradient {
  background: linear-gradient(to right, #F5AB56, #E03F0D);
}

.logo-box {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
}

.logo-box:hover {
	opacity: .1;
}

.info {
	position: absolute;
	padding: 40px;
	font-size: 150%;
	top: 20px;
	bottom: 0;
	left: 0;
	right: 0;
	opacity:0;
}

.logo-box:hover .info {
	opacity: 1;
}

.text-white {
  color: white;
}

.title-bar {
  height: 130px;
}

.dark-orange {
  background-color: #E03F0D;
}

.light-orange {
  background-color: #F5AB56;
}

.spacer {
  width: 100%;
  height: 40px;
}


.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
	
    background: url('../img/intro-background.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 100%;
	width: 100%;
}

.learn-section {
    height: 100%;
    padding-top: 75px;
    text-align: center;
    background: #eee;
}

.collab-section {
    height: 100%;
    padding-top: 200px;
    text-align: center;
	color: #fff;
	
    background: url('../img/collab-background.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 100%;
	width: 100%;
}

.relax-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.signup-section {
	height: 100%;
	padding-top: 100px;
	text-align: center;
	background: #fff;
}